:root {
  --primary-color: #e60012;
  --white: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: var(--primary-color);

}

.logo__container {}

.logo__img {
  height: 2.5rem;
  width: 8.5rem;
}

.option-nav-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header-container {
    background-color: var(--white);
    padding: 0;
  }

  .logo__container {
    background-color: var(--primary-color);
    padding: 10px;
  }

  .option-nav-container {
    display: block;
  }
}